@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --stripe-color: #e4e4e7;
}

html.dark {
  --stripe-color: #27272a;
}

.no-scrollbar,
.no-scrollbar * {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar *::-webkit-scrollbar {
  display: none;
}

.section-stripes {
  background-image: repeating-linear-gradient(
    45deg,
    var(--stripe-color) 0,
    var(--stripe-color) 1px,
    transparent 1px,
    transparent 10px
  );
}
